body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto',
  sans-serif;
  font-size: 16px;
  line-height: 26px;
}
a{
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
.container{
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}
.header{
  background: #EEEFF1;
  padding: 15px;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #34547A;
}

.menu__btn>span::before {
  content: '';
  top: -10px;
}

.menu__btn>span::after {
  content: '';
  top: 10px;
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 70px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: -4px -5px 15px rgb(0 0 0 / 20%);
}
.menu__item a{
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.menu__item a:hover{
  color: #34547A;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  right: 0;
}
.logo img{
  width: 100%; 
  height: auto; 
}
.header__box-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
}
.header__box img{
  display: none;
}
.header__box-title{
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 35px;
}
.header__box-text{
  color: #727272;
  text-align: left;
  margin-bottom: 52px;  
}
.btn{
  padding: 17px 28px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #34547A;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  transition: all .3s ease-in-out;
  background: #15D7E2;
  color: #34547A;
}
.about{
  color: #727272;
  padding: 20px 30px 10px;
  margin-bottom: 50px;
  text-align: center;
}
.about__inner{
 display: flex;
 flex-direction: column;
 align-items: center;
}
.about__text{
 max-width: 540px;
}
.title{
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000;
  margin-bottom: 40px;
}
.projects{
  background-color: #34547A;
  padding: 50px 0;
  color: #FFF;
  margin-bottom: 50px;
}
.projects-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-item{
  display: flex;
  width: 141px;
  justify-content: space-between;
  margin: 0 30px 30px 30px;
} 
.projects-text__num{
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.skills{
  text-align: center;
  margin-bottom: 50px;
}
.skills img{
  width: 270px;
  margin-bottom: 10px;
}
.skills__list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__item{
  border-bottom: 4px solid #C4C4C4;
  position: relative;
  width: 250px;
  margin-bottom: 10px;
}
.skills__line{
  height: 4px;
  background-color: #34547A;
  margin-top: 2px;
  position: absolute;
  left: 0;
  bottom: -4px;
}
.skills__inner-info {
  padding: 0 10px 10px 0;
}
.about-work{
  background: #EEEFF1;
  text-align: center;
  margin-bottom: 28px;
  padding: 50px 0;  
}
.about-work__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-work__text{
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 600px;
}
.about-work__video{
  background-image: url(../images/how-work.jpg);
  position: relative;
  width: 270px;
  height: 146px;
  background-size: contain;
  display: inline-block;
}
.about-work__video-btn img{
  position: absolute;
  width: 30px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.img-section{
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center; 
  justify-content: center;
}
.img-section__item{
  position: relative;
}
.img-section img{
  width: 319px;
  height: auto;
}
.img-section__item:hover::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(52, 84, 122, 0.8);
}
.img-section__item:hover::after{
 content: "";
 position: absolute;
 background-image: url(../images/eye.svg);
 width: 100px;
 height: 100px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}
.clients__box{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
} 
.clients__img{
  width: 200px; 
}
.contact-form{
  background: #EEEFF1;
  padding: 30px 20px;
  text-align: center;
}
.contact-form__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form__text {
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 600px;
}
.contact-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  flex-wrap: wrap;
}
.contact-form__text{
  color: #727272;
  margin-bottom: 20px;
}
.contact__form-input,
.contact__form-area{
  border: none;
  outline: none;
  width: 255px;
  padding: 17px 20px 18px;
  margin-bottom: 20px;
  resize: none;
  color: #5F5D5D;
}
.contact__form-input::placeholder,
.contact__form-area::placeholder{
  color: #5F5D5D;
  font-size: 14px;
  line-height: 23px;
  font-family: 'Roboto',
  sans-serif;
}
.contact__form-input{
  height: 50px;
}
.contact__form-btn{
  padding: 20px 49px;
  letter-spacing: 0.15em;
}
.footer{
  background: #34547A;
  color: #fff;
  padding: 20px 0;
}
.footer__wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.social__list{
  display: flex;
}
.social__list img{
 width: 100%;
 height: auto;
}
.social__item+.social__item{
  margin-left: 22px;
}
.footer__name{
  order: -1;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;  
  margin-bottom: 20px;
}
.footer__copyright{
  order: 1;
  font-size: 13px;
  line-height: 21px;
  margin-top: 20px;
}
@media (min-width: 576px) {
.header__box {
  display: flex;
  justify-content: center;
}
.header__box img {
 display: block;
 width: 200px;
} 
.skills__item{
  width: 445px;
}
.about-work__video {
  width: 555px;
  height: 300px;
}
.img-section img {
  width: 475px;
}
}
@media (min-width: 786px) {
  .title{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
  }
  .header{
    padding: 65px 30px 146px 0;
  }
  .header__inner{
    align-items: center;
  }
  #menu__toggle,
  .menu__btn{
    display: none;
  }
  .menu__box{
    visibility: visible;
    display: flex;
    position: static;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding: 0;
    box-shadow: none;
  }
  .menu__item a{
    padding: 0;
  }
  .menu__item:hover {
    background-color: transparent;
  }
  .menu__item+ .menu__item{
    padding-left: 42px;
  }
  .header__box img {
    width: 357px;
  }
  .header__box-btn {
    padding: 20px 41px;
  }
  .skills__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skills__title{
    text-align: left;
  }
  .skills__inner-info{
    padding-top: 60px;
  }
  .skills__item {
    margin-bottom: 35px;
  }
  .skills__text{
    text-align: left;
  }
  .skills img {
    margin-top: 30px;
  }
  .skills {
    padding-bottom: 40px;
  }
  .about-work {
    padding: 100px 0;
  }
  .about-work__text {
    margin-bottom: 50px;
  }
  .clients__box {
    justify-content: space-between;
    padding: 70px 20px;
  }
  .clients__img {
    width: 255px;
  }
  .contact-form{
    padding: 100px 0;
  }
  .contact-form__text {
    margin-bottom: 60px;
  }
  .contact-form form {
    flex-direction: row;
    justify-content: space-between;
  }
  .contact__form-area{
    width: 540px;
    height: 175px;
    margin: 0 0 48px;
  }
  .contact__form-btn{
    margin: 0 auto;
  }
  .footer{
    padding: 50px 0;
  }
  .footer__wrap{
    flex-direction: row;
    justify-content: space-between;
    text-align-last: left;
  }
}

@media (min-width: 1024px){
  .header__inner{
    padding-left: 45px;
    padding-right: 7px;
  }
  .header__box {
    justify-content: flex-end;
  }
  .header__box-info{
    align-items: start;
    margin-left: 130px;
  }
  .header__box-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
  }
  .header__inner {
    margin-bottom: 135px;
  }
  .about{
    padding: 119px 30px 40px;
  }
  .projects {
    padding: 100px 0;
    margin-bottom: 73px;
  }
  .projects-item{
    margin: 0;
  }
  .projects-box{
    justify-content: space-between;
    padding: 0 30px;
  }
  .skills img {
    width: 555px;
  }
  .about-work__video {
    width: 900px;
    height: 500px;
  }
  .about-work__video-btn img{
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1200px){
  .about-work__video {
    width: 1110px;
    height: 600px;
  }
}